{% extends "base.html" %} 

{% block conteudo %}

<body id="img-fundo1">

        <div id="menu">

                <img src="/static/img/logo.png" id="img-logo"></td>

                <div class="link">
                    <a href="/">Home |</a>
                    <a href="/quemsomos">Quem somos |</a>
                    <a href="/contato">Contato |</a>
                    <a href="/users"> Usuários </a>
                </div>

        </div>

        <div class="capa" align="center">
            <img src="/static/img/capa.png" alt="capa">
        </div>

        <br>

        <div>
            <h2>Sobre a Universidade:</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, consequatur laudantium commodi cumque velit vitae officia aut
                eligendi eius doloribus suscipit, dolore deleniti ut. Ipsa, reiciendis quod! Enim, animi fugiat!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nulla fugiat dignissimos veniam doloribus temporibus. Necessitatibus 
                sequi tempore consequuntur eaque ex, facilis sapiente ipsum, officiis, voluptate cupiditate quidem culpa non.
            </p>
        </div>

        <div>

            <h4>Todos os direitos reservados</h4>

        </div>

    </body>
    
{% endblock %}