{% extends "base.html" %}

{% block conteudo %}

<main>
    <tr>
        <td colspan="2">
            <h2>Entre em contato</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. In sequi natus aliquam, 
                dolor omnis ratione, eaque accusantium cum eligendi provident totam, autem hic laudantium quis nobis quidem. Quae, corporis et?
            </p>
            <hr class="cont">
            <p>
                <form method="post" action="/contato">
                    Seu email:<br>
                    <input type="text" name="email"><br>
                    
                    Assunto:<br>
                    <input type="text" name="assunto"><br>

                    Descrição:<br>
                    <textarea name="descricao"></textarea><br>
                    
                    <input type="submit" value="Enviar"><br>
                    <!--ouuu <input type="submit" value="Enviar">  -->
                </form>
            </p>
        </td>
    
    </tr>
    <div class="direitos"><h4>Todos os direitos reservados</h4></div>
</main>
{% endblock %}