{% extends "base.html" %} 

{% block conteudo %}


<div class="capa">
    <picture>
        <source srcset="../static/img/capa_300px.png" media="(max-width: 600px)">
        <img src="../static/img/capa.png" alt="Capa">
    </picture>
</div>

<br>

<div class="sobre">
    <h2>Sobre a Universidade:</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, consequatur laudantium commodi cumque velit vitae officia aut
        eligendi eius doloribus suscipit, dolore deleniti ut. Ipsa, reiciendis quod! Enim, animi fugiat!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nulla fugiat dignissimos veniam doloribus temporibus. Necessitatibus 
        sequi tempore consequuntur eaque ex, facilis sapiente ipsum, officiis, voluptate cupiditate quidem culpa non.
    </p>
</div>

<div class="mensg">
    <h4>Todos os direitos reservados</h4>
</div>
    
{% endblock %}