{% extends "base.html" %}

{% block conteudo %}

<main>
    <br> 
    <p><h1>Quem somos</h1></p>
    <p>Lorem <b>ipsum dolor</b> sit amet, consectetur adipiscing elit. Duis tincidunt odio sed est lacinia tincidunt. Maecenas ante nibh, gravida at luctus sit amet, sagittis eget sapien. Aliquam tristique eu purus ac bibendum. Praesent molestie libero sit amet molestie viverra. Etiam at urna non lectus sollicitudin gravida. Aliquam non auctor ante, ultrices eleifend risus. Aliquam vel pulvinar ex. Sed eget dolor rhoncus, aliquam massa vitae, interdum augue. Morbi id nunc vitae libero tincidunt aliquam at sed arcu. Sed pharetra tempor augue, id tempor ex rhoncus in. Sed vitae sollicitudin quam. Nullam ante justo, scelerisque eget convallis sit amet, dignissim et tortor. Aenean bibendum orci quis mauris vehicula auctor. Sed lectus augue, ultrices nec viverra vitae, ullamcorper sed arcu.</p>
    <h1>5 motivos para estudar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr class="qs">
    <p><h1>Objetivos</h1></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt odio sed est lacinia tincidunt. Maecenas ante nibh, gravida at luctus sit amet, sagittis eget sapien. Aliquam tristique eu purus ac bibendum. Praesent molestie libero sit amet molestie viverra. Etiam at urna non lectus sollicitudin gravida. Aliquam non auctor ante, ultrices eleifend risus. Aliquam vel pulvinar ex. Sed eget dolor rhoncus, aliquam massa vitae, interdum augue. Morbi id nunc vitae libero tincidunt aliquam at sed arcu. Sed pharetra tempor augue, id tempor ex rhoncus in. Sed vitae sollicitudin quam. Nullam ante justo, scelerisque eget convallis sit amet, dignissim et tortor. Aenean bibendum orci quis mauris vehicula auctor. Sed lectus augue, ultrices nec viverra vitae, ullamcorper sed arcu.</p>
    <br>
    <div class="direitos"><h4>Todos os direitos reservados</h4></div>
    <br>
    <br>
</main>
{% endblock %}